body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.topdiv,.searchDiv,.div{
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
}
.topdiv>h1{
    margin: 0;
}
.topdiv>p{
    margin-bottom: 0;
}
.locationdiv{
    text-align: right;
}
.dataContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 500px) {
    .container {
        flex-direction: column;    
        align-items: center;
    }
    .topdiv{
        text-align: center;
    }
}